{% block gender_widget %}
    {% spaceless %}
        hello all
        <tr>
            <td>
                {{ form_widget(form) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock %}